@charset "UTF-8";

/* * * * * * * * *
* base
* * * * * * * * */
*, *::before, *::after {
  box-sizing: border-box;
}
html {
  width: 100vw;
}
body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, "メイリオ", Osaka, "MS PGothic", arial, helvetica, sans-serif;
  font-size: 16px;
  color: #2b2b2b;
}
h1, h2, h3, p {
  margin: 0;
  padding: 0;
}
a {
  color: #2b2b2b;
  text-decoration: none;
}
section {
  text-align: center;
}
tbody {
  vertical-align: inherit;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}

.u-content-wrapper {
  width: calc(100% - 32px);
  margin: 0 auto;
}
.btn {
  display: inline-block;
  width: 100px;
  height: 32px;
  line-height: 32px;
  border-radius: 4px;
  text-align: center;
  font-size: 14px;
  border: 1px solid #bbb;
}

.header {
  width: 100%;
  height: 112px;
  font-size: 0;
}

.header__top,
.header__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}
.header__bottom {
  height: 48px;
  background: #1D6DC1;
}
.header__bottom a {
  display: inline-block;
  width: 50%;
  line-height: 48px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  letter-spacing: 2px;
}
.header__bottom a:nth-of-type(1) {
  border-right: 1px solid #fff;
}

.header__logo {
  width: auto;
  height: 48px;
}

.btn__login,
.btn__signup {
  font-size: 14px;
}

.btn__login {
  margin-right: 8px;
}

.first-view {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 16px;
}

.search {
  display: block;
  width: 100%;
  height: 32px;
  margin-bottom: 16px;
  padding: 4px 8px;
  border: 1px solid #bbb;
  border-radius: 4px;
}

.new-summary {
  padding: 24px 0;
}
.new-summary-wrapper {
  position: relative;
  width: 100%;
  padding: 24px 16px 0;
  border: 1px solid #bbb;
  border-radius: 4px;
}
.u-heading {
  position: absolute;
  top: -16px;
  left: 8px;
  padding: 0 8px;
  font-weight: normal;
  font-size: 20px;
  background: #fff;
}

.book__content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 24px;
}

.book__img {
  display: block;
  width: 80px;
  height: 120px;
  object-fit: cover;
}

.book__text {
  width: 68%;
  text-align: left;
}

.book__title {
  font-weight: bold;
}

.book__auther {
  color: #666;
  margin-bottom: 8px;
}

.book__introduce {
  font-size: 14px;
  display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}

.news {
  padding-bottom: 24px;
}

.news h2 {
  font-weight: normal;
}

.news__box {
  text-align: left;
  padding-bottom: 8px;
  margin-bottom: 8px;
  border-bottom: 1px solid #bbb;
}

.news__title {
  color: #666;
}
.news__title a {
  color: #1D6DC1;
  text-decoration: underline;
}

.footer {
  color: #fff;
  text-align: center;
}

.footer__logo {
  width: 64px;
  height: 64px;
}

.footer__list__item {
  width: 100%;
  padding: 4px 16px;
  text-align: left;
  line-height: 48px;
  letter-spacing: 2px;
  background: #1D6DC1;
  border-bottom: 1px solid #fff;
}
.footer__list__item a {
  color: #fff;
}

.footer__bottom {
  background: #31333D;
}
